body{
    margin: 0;
    padding: 0;
    background: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.terms-box{
    max-width: 460px;
    background-color: whitesmoke;
    color: #fff;    
    padding: 60px 30px;
    height: 100%;
}

.terms-text{
    padding: 0 20px;
    height: 400px;
    overflow-y: auto;
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-family: "Times New Roman";
    
}


.terms-text h2{
    text-transform: uppercase;
}

.terms-box h4{
    font-size: 13px;
    text-align: center;
    padding: 0 40px;
}
.terms-box h4{
    color: #282828;
}
.terms-box h4 span{
    color: #d13639;
}
.buttons{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
 }

 .btn{
    height: 50px;
    width: calc(50% - 6px);
    border: 0;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    transition: .3s linear;
    cursor: pointer;
 }

 .red-btn{
    background-color: #9400D3;
 }

 .gray-btn{
    background-color: #282828;
 }

